<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/static/css/main.css}" href="/static/css/main.css">
    <title th:text="${question.title}"></title>
</head>
<body>
<header class="w-full flex flex-col center py">
    <h2 th:if="${user != null}">Hello [[${user.username}]]</h2>
    <nav class="flex flex-row center gap">
        <a class="hover-grow" th:href="@{/}">Home</a>

        <a th:if="${user == null}" class="hover-grow" th:href="@{/auth}">Login</a>

        <a th:if="${user != null}" class="hover-grow" th:href="@{/question/create}">Create Question</a>
        <a th:if="${user != null}" class="hover-grow" th:href="@{/user/details}">Profile</a>
        <a th:if="${user != null}" class="hover-grow" th:href="@{/auth/logout}">Logout</a>
    </nav>
</header>
<main class="flex flex-col center gap w-full">
    <div class="flex flex-col border w-xl">
        <div class="flex flex-row between">
            <div class="flex flex-row gap-sm center">
                <h2 th:text="${question.author.username}"></h2>
                <form th:if="${user != null && (hideFollowForUser.map[question.author.id] == null || !hideFollowForUser.map[question.author.id])}" th:action="@{/user/follow/{id}(id=${question.author.id})}" th:method="POST">
                    <button type="submit" class="hover-grow pill">Follow</button>
                </form>
                <form th:if="${user != null && user.isAdmin()}" th:action="@{/question/delete/{id}(id=${question.id})}" th:method="POST">
                    <button type="submit" class="hover-grow pill">Delete</button>
                </form>
            </div>
            <span th:text="${#temporals.format(question.creationDate, 'dd/MM/yyyy HH:mm')}"></span>
        </div>
        <div class="flex flex-row between">
            <h1 th:text="${question.title}"></h1>
            <div class="flex flex-row gap">
                <span th:each="tag : ${question.tags}" th:text="${tag.name}" class="flex center pill"></span>
            </div>
        </div>
        <hr class="w-full">
        <p th:utext="${converter.convert(question.content)}"></p>
        <details>
            <summary>Comments</summary>
            <form th:if="${user != null}" th:action="@{/question/comment/{id}(id=${question.id})}" th:method="POST" th:object="${commentForm}" class="flex flex-col border gap-sm">
                <label for="questionCommentContent">Post a new comment</label>
                <textarea name="questionCommentContent" id="questionCommentContent" th:field="*{content}" rows="10" style="resize: none"></textarea>
                <div class="flex flex-row center">
                    <button type="submit" class="hover-grow pill">Send</button>
                </div>
                <th:block th:if="${commentErrorMessages}">
                    <span th:if="${commentErrorMessages[${question.id}]}" th:text="${commentErrorMessages[${question.id}]}"></span>
                </th:block>
            </form>
            <div th:each="comment : ${question.comments}" class="flex flex-col border">
                <div class="flex flex-row between">
                    <h2 th:text="${comment.authorUsername}"></h2>
                    <span th:text="${#temporals.format(comment.creationDate, 'dd/MM/yyyy HH:mm')}"></span>
                </div>
                <div>
                    <th:block th:utext="${converter.convert(comment.content)}"></th:block>
                </div>
            </div>
        </details>
    </div>

    <hr class="w-xl">

    <form th:if="${user != null}" th:action="@{/question/answer/{id}(id=${question.id})}" th:method="POST" th:object="${answerForm}" class="flex flex-col border w-xl gap-sm">
        <label for="answerContent">Post a new answer</label>
        <textarea name="answerContent" id="answerContent" th:field="*{content}" rows="10" style="resize: none"></textarea>
        <div class="flex flex-row center">
            <button type="submit" class="hover-grow pill">Send</button>
        </div>
        <span th:if="${answerErrorMessage}" th:text="${answerErrorMessage}"></span>
    </form>

    <div th:each="answer : ${question.answers}" class="flex flex-col border w-xl">
        <div class="flex flex-row between">
            <div class="flex flex-row gap-sm center">
                <h2 th:text="${answer.author.username}"></h2>
                <form th:if="${user != null && (hideFollowForUser.map[answer.author.id] == null || !hideFollowForUser.map[answer.author.id])}" th:action="@{/user/follow/{id}(id=${answer.author.id})}" th:method="POST">
                    <button type="submit" class="hover-grow pill">Follow</button>
                </form>
                <form th:if="${user != null && (user.isAdmin || answer.author.id == user.id)}" th:action="@{/question/answer/delete/{id}(id=${answer.id})}" th:method="POST">
                    <button type="submit" class="hover-grow pill">Delete</button>
                </form>
            </div>
            <span th:text="${#temporals.format(answer.creationDate, 'dd/MM/yyyy HH:mm')}"></span>
        </div>

        <hr class="w-full">

        <div class="flex flex-row between gap-xl">
            <div>
                <th:block th:utext="${converter.convert(answer.content)}"></th:block>
            </div>
            <div class="flex flex-row start gap" th:with="userVote=${answer?.userVote}">
                <form th:action="@{/question/{path}/{id}/{answerId}?vote=false(id=${question.id},answerId=${answer.id},path=${userVote.isDownvote() ? 'unvote' : 'vote'})}" th:method="POST">
                    <button th:disabled="${user == null}" class="hover-grow pill" th:classappend="${userVote.isDownvote() ? 'downvote' : ''}">Downvote</button>
                </form>
                <span th:text="${answer.note}"></span>
                <form th:action="@{/question/{path}/{id}/{answerId}?vote=true(id=${question.id},answerId=${answer.id},path=${userVote.isUpvote() ? 'unvote' : 'vote'})}" th:method="POST">
                    <button th:disabled="${user == null}" class="hover-grow pill" th:classappend="${userVote.isUpvote() ? 'upvote' : ''}">Upvote</button>
                </form>
            </div>
        </div>
        <details>
            <summary>Comments</summary>
            <form th:if="${user != null}" th:action="@{/question/answer/comment/{id}(id=${answer.id})}" th:method="POST" th:object="${commentForm}" class="flex flex-col border gap-sm">
                <label for="commentContent">Post a new comment</label>
                <textarea name="commentContent" id="commentContent" th:field="*{content}" rows="10" style="resize: none"></textarea>
                <div class="flex flex-row center">
                    <button type="submit" class="hover-grow pill">Send</button>
                </div>
                <th:block th:if="${commentErrorMessages}">
                    <span th:if="${commentErrorMessages[${answer.id}]}" th:text="${commentErrorMessages[${answer.id}]}"></span>
                </th:block>
            </form>
            <div th:each="comment : ${answer.comments}" class="flex flex-col border">
                <div class="flex flex-row between">
                    <h2 th:text="${comment.authorUsername}"></h2>
                    <span th:text="${#temporals.format(comment.creationDate, 'dd/MM/yyyy HH:mm')}"></span>
                </div>
                <div>
                    <th:block th:utext="${converter.convert(comment.content)}"></th:block>
                </div>
            </div>
        </details>
    </div>
</main>
</body>
</html>