<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/static/css/main.css}" href="/static/css/main.css">
    <title>401 - Unauthorized</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<header class="w-full p-1">
    <nav class="flex flex-row center gap">
        <a class="hover-grow" th:href="@{/}">Home</a>
        <a class="hover-grow" th:href="@{/question/create}">Create Question</a>
        <a class="hover-grow" href="#">Profile</a>
        <a class="hover-grow" th:href="@{/auth}">Login</a>
        <a class="hover-grow" th:href="@{/user/logout}">Logout</a>
    </nav>
</header>
<h1>401 - Unauthorized</h1>
<p>Invalid credentials</p>
</body>
</html>